body {
  font-family: Arial;
  background: linear-gradient(135deg, #43cea2, #185a9d);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  padding: 20px;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  text-align: center;
}

input, button {
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  background: #185a9d;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #14487c;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f1f1f1;
  padding: 8px;
  margin: 5px 0;
  border-radius: 6px;
}