body {
  font-family: Arial;
  background: linear-gradient(135deg, #ff6a88, #ff99ac);
  display: flex;
  justify-content: center;
  padding: 20px;
}

.container {
  background: white;
  padding: 20px;
  width: 500px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

input, select, button {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  background: #ff6a88;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #ff3b5c;
}

#donorList {
  margin-top: 10px;
}

.donor {
  background: #f1f1f1;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}