body {
  font-family: Arial;
  background: linear-gradient(135deg, #f6d365, #fda085);
  display: flex;
  justify-content: center;
  padding: 20px;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 700px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

input, button {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  flex: 1 1 45%;
}

button {
  background: #f6d365;
  border: none;
  cursor: pointer;
  flex: 1 1 100%;
}

button:hover {
  background: #fda085;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background: #f6d365;
}