body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(135deg, #ff758c, #ff7eb3);
    color: white;
    text-align: center;
}

.container {
    margin-top: 80px;
}

input {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background: #00c6ff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0072ff;
}

.countdown {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.countdown div {
    margin: 15px;
    font-size: 20px;
}

.countdown span {
    font-size: 40px;
    display: block;
}